*.csv filter=lfs
*.dta filter=lfs diff=lfs merge=lfs -text
*.rda filter=lfs diff=lfs merge=lfs -text
*.rds filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
*.log merge=binary

# These lines are added so that the 'languages' section of the repo doesn't count things like our huge html files (generated in R by leaflet)
* linguist-vendored
*.R linguist-vendored=false
*.do linguist-vendored=false
*.py linguist-vendored=false
